In [27]:
import pandas as pd
s = pd.read_csv("ECDCCases.csv")
s.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61904 entries, 0 to 61903
Data columns (total 12 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   dateRep                                                     61904 non-null  object
 1   day                                                         61904 non-null  int64
 2   month                                                       61904 non-null  int64
 3   year                                                        61904 non-null  int64
 4   cases                                                       61904 non-null  int64
 5   deaths                                                      61904 non-null  int64
 6   countriesAndTerritories                                     61904 non-null  object
 7   geoId                                                       61629 non-null  object
 8   countryterritoryCode                                        61781 non-null  object
 9   popData2019                                                 61781 non-null  float64
 10  continentExp                                                61904 non-null  object
 11  Cumulative_number_for_14_days_of_COVID-19_cases_per_100000  59025 non-null  float64
dtypes: float64(2), int64(5), object(5)
memory usage: 5.7+ MB

In [28]:
import numpy as np

s = pd.read_csv("ECDCCases.csv")

for c in s.columns:
    missing= np.mean(s[c].isna()*100)
    print(f"{c}:{round(missing,1)}%")

    
s.drop('Cumulative_number_for_14_days_of_COVID-19_cases_per_100000', axis = 1,inplace=True)
s.drop('geoId', axis = 1,inplace=True)


popData2019 = s.popData2019.median() 
s.popData2019.fillna(popData2019, inplace=True)
s.countryterritoryCode.fillna("Other", inplace=True)

print()

for c in s.columns:
    missing= np.mean(s[c].isna()*100)
    print(f"{c}:{round(missing,1)}%")

dateRep:0.0%
day:0.0%
month:0.0%
year:0.0%
cases:0.0%
deaths:0.0%
countriesAndTerritories:0.0%
geoId:0.4%
countryterritoryCode:0.2%
popData2019:0.2%
continentExp:0.0%
Cumulative_number_for_14_days_of_COVID-19_cases_per_100000:4.7%

dateRep:0.0%
day:0.0%
month:0.0%
year:0.0%
cases:0.0%
deaths:0.0%
countriesAndTerritories:0.0%
countryterritoryCode:0.0%
popData2019:0.0%
continentExp:0.0%

In [29]:
s.describe()

,day,month,year,cases,deaths,popData2019
count,61904.000000,61904.000000,61904.000000,61904.000000,61904.000000,6.190400e+04
mean,15.629232,7.067104,2019.998918,1155.079026,26.053987,4.091909e+07
std,8.841624,2.954816,0.032881,6779.010824,131.222948,1.529798e+08
min,1.000000,1.000000,2019.000000,-8261.000000,-1918.000000,8.150000e+02
25%,8.000000,5.000000,2020.000000,0.000000,0.000000,1.324820e+06
50%,15.000000,7.000000,2020.000000,15.000000,0.000000,7.169456e+06
75%,23.000000,10.000000,2020.000000,273.000000,4.000000,2.851583e+07
max,31.000000,12.000000,2020.000000,234633.000000,4928.000000,1.433784e+09

In [30]:
print('Количество дней - ',s['countriesAndTerritories'].loc[s['deaths']>3000].count())
print('Страны: ', s['countriesAndTerritories'].loc[s['deaths']>3000].unique())

Количество дней -  11
Страны:  ['Argentina' 'Ecuador' 'Mexico' 'Peru' 'United_States_of_America']

In [31]:
s[s.duplicated(keep=False)]

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,countryterritoryCode,popData2019,continentExp
2,12/12/2020,12,12,2020,113,11,Afghanistan,AFG,38041757.0,Asia
3,12/12/2020,12,12,2020,113,11,Afghanistan,AFG,38041757.0,Asia
217,12/05/2020,12,5,2020,285,2,Afghanistan,AFG,38041757.0,Asia
218,12/05/2020,12,5,2020,285,2,Afghanistan,AFG,38041757.0,Asia
48009,29/05/2020,29,5,2020,0,0,Saint_Lucia,LCA,182795.0,America
48010,29/05/2020,29,5,2020,0,0,Saint_Lucia,LCA,182795.0,America
48072,28/03/2020,28,3,2020,0,0,Saint_Lucia,LCA,182795.0,America
48073,28/03/2020,28,3,2020,0,0,Saint_Lucia,LCA,182795.0,America

In [25]:
s = s.drop_duplicates()
s[s.duplicated(keep=False)]

Empty DataFrame
Columns: [dateRep, day, month, year, cases, deaths, countriesAndTerritories, countryterritoryCode, popData2019, continentExp]
Index: []

In [59]:
import scipy

bm = pd.read_csv("bmi.csv")

nor=pd.Series(bm['bmi'].loc[bm['region']=='northwest'])
sou=pd.Series(bm['bmi'].loc[bm['region']=='southwest'])

s1 = np.random.choice(nor, 40)
s2 = np.random.choice(sou, 40)

test1 = scipy.stats.shapiro(s1)
test2 = scipy.stats.shapiro(s2)

print(test1,'\n',test2)

test = scipy.stats.bartlett(s1, s2)

print(test)

Stud = scipy.stats.ttest_ind(s1,s2)
print(Stud)

ShapiroResult(statistic=0.9663591980934143, pvalue=0.2743404805660248)
 ShapiroResult(statistic=0.9701412916183472, pvalue=0.36363640427589417)
BartlettResult(statistic=0.07733230884424544, pvalue=0.7809456724234447)
Ttest_indResult(statistic=-0.9967653328075294, pvalue=0.3219606566115454)

In [61]:
dice = [97, 98, 109, 95, 97, 104]
t = scipy.stats.chisquare(dice)
print(t)

Power_divergenceResult(statistic=1.44, pvalue=0.9198882077437889)

In [66]:
data = pd.DataFrame({'Женат': [89,17,11,43,22,1],
 'Гражданский брак': [80,22,20,35,6,4],
 'Не состоит в отношениях': [35,44,35,6,8,22]})
data.index = ['Полный рабочий день','Частичная занятость','Временно не работает','На домохозяйстве','На пенсии','Учёба']

print(data,'\n')

t = scipy.stats.chi2_contingency(data)
print(t)

                      Женат  Гражданский брак  Не состоит в отношениях
Полный рабочий день      89                80                       35
Частичная занятость      17                22                       44
Временно не работает     11                20                       35
На домохозяйстве         43                35                        6
На пенсии                22                 6                        8
Учёба                     1                 4                       22

(122.29654948595365, 1.7291616900960234e-21, 10, array([[74.664, 68.136, 61.2  ],
       [30.378, 27.722, 24.9  ],
       [24.156, 22.044, 19.8  ],
       [30.744, 28.056, 25.2  ],
       [13.176, 12.024, 10.8  ],
       [ 9.882,  9.018,  8.1  ]]))